<a href="https://colab.research.google.com/github/tanvi-ap/ClimateChange_StanceDetection/blob/main/tweet_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tweet-preprocessor

Collecting tweet-preprocessor
  Downloading tweet_preprocessor-0.6.0-py3-none-any.whl (27 kB)
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

In [ ]:
import requests
import io
import pandas as pd

import preprocessor as p

from datetime import datetime, date, timedelta

import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [ ]:
import pandas as pd
import glob
import os
import fnmatch

#df1 = pd.read_csv('/drive/MyDrive/covid_vaccine_tweets_extracted_20211202_043040.csv')
#df2 =

path = '/drive/MyDrive/'

for filename in os.listdir(path):
  #if fnmatch.fnmatch(filename,'covid_vaccine_tweets_extracted_*.csv'):
  if fnmatch.fnmatch(filename,'climate_change_tweets_extracted_*.csv'):
    #print(filename)
    df_from_file = pd.read_csv(path+'/'+filename,index_col=0) 
    final_df = pd.concat([df_from_file])

#type(df_from_file)

In [ ]:
final_df.head()

                                           username  ...           tweet_date
0                   Peter Leighton-Jones ‚ìã üè¥Û†ÅßÛ†Å¢Û†Å∑Û†Å¨Û†Å≥Û†Åøüå±  ...  2021-11-26 23:45:50
1                                              ZNet  ...  2021-11-26 23:44:25
2                                Playing For Change  ...  2021-11-26 23:30:00
3  Tom Gillispie, LET'S KEEP NATURE LOOKING NATURAL  ...  2021-11-26 23:12:36
4                               @drtimball #climate  ...  2021-11-26 23:12:11

[5 rows x 5 columns]

In [ ]:
#path = 'https://raw.githubusercontent.com/tanvi-ap/Covid19StanceDetection/main/covid19_vaccination.csv'
path = 'https://raw.githubusercontent.com/tanvi-ap/ClimateChange_StanceDetection/main/climatechange_tweets%20(2).csv'
r = requests.get(path)
tweets_df = pd.read_csv(io.StringIO(r.text),index_col=0)

tweets_df.head()

              username  ...           tweet_date
0  NOAAandNASAareRight  ...  2021-11-21 23:57:20
1          Neale Jones  ...  2021-11-21 23:56:34
2      Climate Signals  ...  2021-11-21 23:44:59
3         Gareth Smith  ...  2021-11-21 23:36:27
4             Disequal  ...  2021-11-21 23:35:41

[5 rows x 5 columns]

In [ ]:
final_tweets_df = pd.concat([tweets_df,final_df])

In [ ]:
final_tweets_df.shape

(24166, 5)

In [ ]:
final_tweets_df.head()

              username  ...           tweet_date
0  NOAAandNASAareRight  ...  2021-11-21 23:57:20
1          Neale Jones  ...  2021-11-21 23:56:34
2      Climate Signals  ...  2021-11-21 23:44:59
3         Gareth Smith  ...  2021-11-21 23:36:27
4             Disequal  ...  2021-11-21 23:35:41

[5 rows x 5 columns]

In [ ]:
final_tweets_df.sort_values(by='tweet_date').reset_index(drop = True)

                       username  ...           tweet_date
0                    K M Resist  ...  2021-11-20 21:19:24
1                    K M Resist  ...  2021-11-20 21:19:24
2                    K M Resist  ...  2021-11-20 21:19:24
3                    K M Resist  ...  2021-11-20 21:19:24
4                    K M Resist  ...  2021-11-20 21:19:24
...                         ...  ...                  ...
24161               Susan Brown  ...  2021-12-03 23:09:27
24162  Daddio Donner üéÖüíâüåäüíô#BLM üåà  ...  2021-12-03 23:37:31
24163                     TODDO  ...  2021-12-03 23:41:10
24164           S√∏ren Lindgreen  ...  2021-12-03 23:44:46
24165               Bill Murphy  ...  2021-12-03 23:57:02

[24166 rows x 5 columns]

In [ ]:
final_tweets_df['text_cleaned'] = final_tweets_df['text'].apply(lambda x: p.clean(x))

In [ ]:
final_tweets_df.head()

              username  ...                                       text_cleaned
0  NOAAandNASAareRight  ...  Watts denies rising sea levels -- of course! T...
1          Neale Jones  ...  Challenged by Corin Dann about climate change ...
2      Climate Signals  ...  A record high of % of respondents said they ha...
3         Gareth Smith  ...  Can you imagine living in a world where climat...
4             Disequal  ...  I absolutely believe climate change and global...

[5 rows x 6 columns]

In [ ]:
tweets_df_final = final_tweets_df[(final_tweets_df['text'].str.contains("climate")) 
                            | (final_tweets_df['text'].str.contains("Climate"))]

len(tweets_df_final)

21133

In [ ]:
tweets_df = tweets_df_final.copy()

In [ ]:
# Clean tweet text with tweet-preprocessor
tweets_df['text_cleaned'] = tweets_df['text'].apply(lambda x: p.clean(x))

In [ ]:
# Remove duplicate tweets
tweets_df.drop_duplicates(subset='text_cleaned', keep="first", inplace = True)
len(tweets_df)

2243

In [ ]:
# Create timestamp for datetime of extraction
extract_datetime = datetime.today().strftime('%Y%m%d_%H%M%S')
filename = '/drive/MyDrive/final_covid_vaccine_tweets_extracted_' + extract_datetime + '.csv'

tweets_df_final.drop_duplicates(inplace = True)

# Export dataframe as csv file with above filename
tweets_df_final.to_csv(filename, index = False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
# Remove unnecessary characters
# Note: Need to remove % as Stanford CoreNLP annotation encounters error if text contains some of these characters
punct =['%','/',':','\\','&amp;','&',';']

def remove_punctuations(text):
    for punctuation in punct:
        text = text.replace(punctuation, '')
    return text

tweets_df['text_cleaned'] = tweets_df['text_cleaned'].apply(lambda x: remove_punctuations(x))

In [ ]:
# Drop tweets which have empty text field
tweets_df['text_cleaned'].replace('', np.nan, inplace=True)
tweets_df['text_cleaned'].replace(' ', np.nan, inplace=True)
tweets_df.dropna(subset=['text_cleaned'], inplace=True)
len(tweets_df)

2243

In [ ]:
tweets_df = tweets_df.reset_index(drop=True)
tweets_df.sample(5)

                      username  ...                                       text_cleaned
990                       Dave  ...  They're due for a name change and rebranding o...
337        Alfie Arthur Archie  ...  Global warming is fake and climate change is f...
1540        ÿ£ÿ®Ÿà ÿßŸÑÿ≠ÿ≥ŸÜÿßÿ™ ÿßŸÑÿµÿØ€åŸÇ  ...  Read this in-depth feature by on what lies ahe...
53    Trotsky like Wokester üá®üá¶  ...  I don't need to know the science of climate ch...
2059      Liberty Bell Society  ...  Climate change, formally known as global warmi...

[5 rows x 6 columns]

In [ ]:
#tweets_df.to_csv('/drive/MyDrive/covid19_train.csv')
tweets_df.to_csv('/drive/MyDrive/climate_change_train.csv')